* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Raleway, sans-serif;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* author : @annaratna */
/* tulis code css anda disini... */
/* author : @annaratna */


/* author : @umarelvaruq */
.container2 {
    max-width: 740px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.about-us {
    background-color: #efefef;
}
.about-us h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 34px;
}
.about-us p {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 20px;
}
.career {
    background-color: #fff;
}
.career h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 34px;
}
.career p {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 20px;
}
.career a{
    color: #007bff;
}
/* author : @umarelvaruq */


/* author : @Nurnaning Tiastuti */
.competencies {
    text-align: center;
    background-color: white;
}
.competencies h1 {
    font-size: 36px;
    text-decoration: none solid rgb(0 0 0);
    max-width: fit-content;
    margin: 24px auto;
}
.competencies hr {
    color: blue !important;
    width: 10%;
}
.contents {
    width: 100%;
    float: left;
    padding: 20px 20px;
    background-color: white;
}
.content-item {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.content-item img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.content-wrap {
    display: flex;
}
.content-text h2 {
    font-size: 20px;
    text-align: left;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
}
.content-text p {
    text-align: justify;
    padding-top: 0;
    padding-right: 10px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
/* author : @Nurnaning Tiastuti */


/* author : @apip kurniawan */
.partners {
    background-color: #efefef;
}
.partners h2 {
    text-align: center;
    font-size: 34px;
}
.partners p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}
table .space {
    padding: 2em;
}
td {
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: justify;
    display: table-cell;
    vertical-align: inherit;
}
td h4 {
    font-size: 19px;
}
/* author : @apip kurniawan */


/* author : @Rosa Sam */
.contacts {
    padding-top: 5px;
    background-color: #efefef;
}
.contacts h2 {
    text-align: center;
    font-size: 34px;
}
.contact-detail {
    float: left;
    width: 33%;
}
.contact-wrapper {
    padding-top: 35px;
    text-align: center;
}
.contact-detail p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
.clear {
    clear: left;
}
/* author : @Rosa Sam */